@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    min-height: 112px;
    transition: all 0.25s;
}

nav li, a {
    @apply hover:text-rose
}

nav li a, nav li span {
    @apply border-b-2 h-full pb-3 flex border-transparent
}

nav li a:hover, nav li span:hover {
    @apply border-black 
}

header .fa-angle-right {
    @apply text-xs
}

header li a {
    @apply flex items-center justify-between w-full
}

.links li {
    @apply flex 
}

.discount-text {
    left: 13%;
}

.nested-links, .links-nest, .product-image, .product-description, .discount-image {
    transition: all ease 0.35s;
}

.discount-image {
    display: flex;
}

.megamenu, .submenu {
    display: none;
} 

.megamenu a {
    @apply py-1 -translate-y-10
}

.slideUp {
    animation: slideUp 0.25s
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
        display: flex;
    }
    to {
        transform: translateY(-2.5rem);
        opacity: 0;
        display: none;
    }
}

.fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

.slideRight-12 {
    animation: slideRight-12 0.75s;
}

@keyframes slideRight-12 {
    from {
        transform: translateX(-0.75rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideRight-24 {
    animation: slideRight-24 0.75s;
}

@keyframes slideRight-24 {
    from {
        transform: translateX(-1.5rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.megamenu-slide {
    animation: megamenu 0.5s;
    position: relative;
    
}

@keyframes megamenu {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.megamenu-slide-inside {
    animation: megamenu-inside 0.5s;
    position: relative;
    
}

@keyframes megamenu-inside {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.animation-delay-200 {
    animation-delay: 0.2s;
}

.animation-delay-350 {
    animation-delay: 0.35s;
}

.animation-delay-500 {
    animation-delay: 0.5s;
}

.animation-delay-1000 {
    animation-delay: 1s;
}